{% extends 'base.html' %}

{% block content %}
    <h1>Регистрация</h1>

    <form method="post">
        {% csrf_token %}

        <table>
            {{ form }}
        </table>
    <button
        type="submit"
        class="btn btn-primary">
        Регистрация
    </button>
    </form>
    <script>
        document.querySelector('#id_username').addEventListener('blur', async (event) => {
            const res = await fetch(`/validate_username?username=${event.target.value}`).then(res => res.json());
            event.target.parentElement.querySelector('.errorList')?.remove();
            const errors = document.createElement('ul');
            errors.classList.add('errorList');

            if (res.is_taken) {
                errors.innerHTML = '<li>Пользователь с таким именем уже есть</li>';
            }

            if (event.target.value.length === 0) {
                errors.innerHTML += '<li>Логин не может быть пустым</li>';
            }

            const re = new RegExp("^[a-zA-Z0-9-]+$");

            if (!re.test(event.target.value)) {
                errors.innerHTML += '<li>Разрешены только латиница, цифры или тире</li>';
            }

            event.target.parentElement.append(errors);
        });

        document.querySelector('#id_email').addEventListener('blur', async (event) => {
            const res = await fetch(`/validate_email?email=${event.target.value}`).then(res => res.json());
            event.target.parentElement.querySelector('.errorList')?.remove();
            const errors = document.createElement('ul');
            errors.classList.add('errorList');

            if (res.is_taken) {
                errors.innerHTML = '<li>Такой адрес электронной почты уже используется</li>';
            }

            const re = new RegExp("^[а-яА-Яa-zA-Z_0-9_]+@[0-9a-z]+\.[a-zа-я]{2,3}$");

            if (!re.test(event.target.value)) {
                errors.innerHTML += '<li>Почта имеет не верный формат</li>';
            }

            event.target.parentElement.append(errors);
        })

        document.querySelector('#id_password').addEventListener('blur', async (event) => {
            event.target.parentElement.querySelector('.errorList')?.remove();
            const errors = document.createElement('ul');
            errors.classList.add('errorList');

            if (event.target.value.length === 0) {
                errors.innerHTML += '<li>Пароль не может быть пустым</li>';
            }

            event.target.parentElement.append(errors);
        });

        document.querySelector('#id_password2').addEventListener('blur', async (event) => {
            event.target.parentElement.querySelector('.errorList')?.remove();
            const errors = document.createElement('ul');
            errors.classList.add('errorList');

            if (event.target.value != document.querySelector('#id_password').value) {
                errors.innerHTML += '<li>Пароли не совпадают</li>';
            }

            event.target.parentElement.append(errors);
        });

        document.querySelector('#id_name').addEventListener('blur', async (event) => {
            event.target.parentElement.querySelector('.errorList')?.remove();
            const errors = document.createElement('ul');
            errors.classList.add('errorList');

            const re = new RegExp("^[а-яА-Я- ]+$");

            if (event.target.value.length === 0) {
                errors.innerHTML += '<li>Имя не может быть пустым</li>';
            }

            if (!re.test(event.target.value)) {
                errors.innerHTML += '<li>Разрешены только кирилица, пробел или тире</li>';
            }

            event.target.parentElement.append(errors);
        })

        document.querySelector('#id_surname').addEventListener('blur', async (event) => {
            event.target.parentElement.querySelector('.errorList')?.remove();
            const errors = document.createElement('ul');
            errors.classList.add('errorList');

            const re = new RegExp("^[а-яА-Я- ]+$");

            if (event.target.value.length === 0) {
                errors.innerHTML += '<li>Фамилия не может быть пустым</li>';
            }

            if (!re.test(event.target.value)) {
                errors.innerHTML += '<li>Разрешены только кирилица, пробел или тире</li>';
            }

            event.target.parentElement.append(errors);
        })

        document.querySelector('#id_patronymic').addEventListener('blur', async (event) => {
            event.target.parentElement.querySelector('.errorList')?.remove();
            const errors = document.createElement('ul');
            errors.classList.add('errorList');

            const re = new RegExp("^[а-яА-Я- ]+$");

            if (event.target.value.length === 0) {
                errors.innerHTML += '<li>Отчество не может быть пустым</li>';
            }

            if (!re.test(event.target.value)) {
                errors.innerHTML += '<li>Разрешены только кирилица, пробел или тире</li>';
            }

            event.target.parentElement.append(errors);
        })
    </script>
{% endblock %}